@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400, 900);

body {
  font-family: 'Source Sans Pro', sans-serif;
}

#top_palette {
  display: flex;
}

.block {
  width: 100%;
  height: 5vh;
}

#main {
  background: linear-gradient(rgba(0, 122, 170, 0.5), rgba(0, 122, 170, 0.5)),
    url('/static/museum_pop.jpg');
  background-size: cover;
  height: 95vh;
}

#main_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  text-transform: uppercase;
}

#main_content h1 {
  font-size: 3rem;
  letter-spacing: 0.1em;
  line-height: 1em;
  text-transform: uppercase;
}

#main_content h4 {
  font-size: 2em;
}
