@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400, 900);

body {
  font-family: 'Source Sans Pro', sans-serif;
}

#top_palette {
  display: flex;
}

.block {
  width: 100%;
  height: 5vh;
  text-align: center;
  padding-top: 0.2em;
}

a {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

a:hover {
  color: white;
}

#main {
  background: linear-gradient(rgba(85, 197, 0, 0.5), rgba(85, 197, 0, 0.5)),
    url('/static/main.jpg');
  background-size: cover;
  height: 95vh;
}

#main_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  text-transform: uppercase;
}

#main_content h1 {
  font-size: 3rem;
  letter-spacing: 0.1em;
  line-height: 1em;
  text-transform: uppercase;
}

#main_content h4 {
  font-size: 2em;
}

#main_content p {
  text-align: left;
  width: 40%;
}

#about {
  background: linear-gradient(rgba(0, 122, 170, 0.5), rgba(0, 122, 170, 0.5)),
    url('/static/about.jpg');
  background-size: cover;
  height: 95vh;
  text-align: center;
  color: white;
  text-transform: uppercase;
  padding-top: 2em;
}

#about h1 {
  border-bottom: 0.15em solid white;
  padding-bottom: 0.1em;
  width: 20%;
  margin: auto;
}

#about_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 1em;
  text-transform: none;
  width: 35%;
  margin: auto;
  text-align: left;
}

#troy {
  height: auto;
  width: 70%;
  top: 50%;
  border: solid 0.3em white;
  margin: 0.5em auto;
}

#skills {
  background: linear-gradient(rgba(191, 192, 7, 0.5), rgba(191, 192, 7, 0.5)),
    url('/static/skills.jpg');
  background-size: cover;
  height: 95vh;
  text-align: center;
  color: white;
  text-transform: uppercase;
  padding-top: 2em;
  flex-direction: column;
}

#skills h1 {
  border-bottom: 0.15em solid white;
  padding-bottom: 0.1em;
  width: 40%;
  margin: auto;
}

#skills_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 1em;
  text-transform: none;
  width: 60%;
  margin: auto;
  text-align: left;
}

#skills_breakdown_1 {
  width: 60%;
  margin: auto;
  text-align: left;
  display: flex;
  flex-direction: row;
}

#skills_breakdown_2 {
  width: 60%;
  margin: 0 auto;
  text-align: left;
  display: flex;
  flex-direction: row;
}

.languages,
.frameworks,
.software {
  width: 100%;
  margin: 2em;
  display: inline-block;
  font-size: 1em;
}

#experience {
  background: linear-gradient(rgba(196, 62, 9, 0.5), rgba(196, 62, 9, 0.5)),
    url('/static/experience.jpg');
  background-size: cover;
  height: 95vh;
  text-align: center;
  color: white;
  text-transform: uppercase;
  padding-top: 2em;
  flex-direction: column;
}

#archbright, #general_assembly {
  width: 100%;
  display: flex;
}

.col1 img, .col2 img {
  margin: 1.6em;
  width: 3em;
}

.logo {
  width: 15%;
  border-radius: 30em;
}