{% extends 'base.html' %}
{% block content %}
    <div id="about">
        <h1>About Me</h1>
        <div id="about_content">
            <img id="troy" src="/static/troy.jpg" alt="Troy" />
            <p>Hi there, I'm Troy! I'm a software engineer from the Greater Seattle Area. I usually spend my time
            building awesome software, analyzing data, and sometimes writing music. If you are interested, you can
            view some of my projects in the experience section.</p>
            <p>Feel free to reach out to me on social media or email me.</p>
        </div>
    </div>
{% endblock %}