<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Troy's Portfolio</title>
</head>
<body>
    <div id="top_palette">
        {% for color in ['#01aff3', '#6bf700', '#eff109', '#f64e0c', '#cb268b'] %}
            <div class="block" style="background-color:{{color}; width: 100%; height: 5vh;"></div>
        {% endfor %}
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>
<script>
</script>