<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Troy's Portfolio</title>
</head>
<body>
    <div id="top_palette">
        {% for page, color in {'main': '#01aff3', 'about': '#6bf700', 'skills': '#eff109', 'experience': '#f64e0c', 'contact': '#cb268b'}.items() %}
            <div class="block" style="background-color:{{ color }}; width: 100%; height: 5vh;">
                <a href="{{ url_for('portfolio.'+ page) }}">{{ page }}</a>
            </div>
        {% endfor %}
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>
<script>
</script>