{% extends 'base.html' %}
{% block content %}
<div id="experience">
    <h1>Experience</h1>
    <!-- todo: https://getbootstrap.com/docs/4.0/components/modal/ -->
    <div id="experience_content">
        <div id="archbright">
            <img class="logo" src="/static/exp_images/archbright.png" alt="arch_logo" />
            <h4 class="organization">Archbright</h4>
            <h4 class="title">Software Engineer, Data</h4>
            <h5 class="year">2019 - Current</h5>
            <div class=projects>
                <img src="/static/exp_images/ui.jpg" alt="aip">
                <img src="/static/exp_images/nps.jpg" alt="nps">
                <img src="/static/exp_images/psa_report.jpg" alt="psa">
                <img src="/static/exp_images/closed_won.jpg" alt="won">
            </div>
        </div>
        <div id="general_assembly">
            <img class="logo" src="/static/exp_images/general_assembly.png" alt="ga_logo" />
            <h4 class="organization">General Assembly</h4>
            <h4 class="title">Web Development Student</h4>
            <h5 class="year">2018</h5>
            <div class=projects>
                <img src="/static/exp_images/allways.png" alt="allways">
                <img src="/static/exp_images/voteq.png" alt="voteq">
            </div>
        </div>
    </div>
</div>
{% endblock %}