{% extends 'base.html' %}
{% block content %}
<div id="experience">
    <h1>Experience</h1>
    <!-- todo: https://getbootstrap.com/docs/4.0/components/modal/ -->
    <div id="experience_content">
        <div id="archbright">
            <div id="company">
                <img class="logo" src="/static/exp_images/archbright.png" alt="arch_logo" />
                <div class="experience_details">
                    <h5 class="organization">Archbright</h5>
                    <h5 class="title">Software Engineer, Data</h5>
                    <h5 class="year">2019 - Present</h5>
                </div>
            </div>
            <div id="columns">
                <div class="col1">
                    <img src="/static/exp_images/ui.jpg" alt="aip">
                    <img src="/static/exp_images/nps.jpg" alt="nps">
                </div>
                <div class="col2">
                    <img src="/static/exp_images/psa_report.jpg" alt="psa">
                    <img src="/static/exp_images/closed_won.jpg" alt="won">
                </div>
            </div>
        </div>
        <div id="general_assembly">
            <div id="company">
                <img class="logo" src="/static/exp_images/general_assembly.png" alt="ga_logo" />
                <div class="experience_details">
                    <h5 class="organization">General Assembly</h5>
                    <h5 class="title">Web Development Student</h5>
                    <h5 class="year">2018</h5>
                </div>
            </div>
            <div class="col1">
                <img src="/static/exp_images/allways.png" alt="allways">
                <img src="/static/exp_images/voteq.png" alt="voteq">
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}