{% extends 'base.html' %}
{% block content %}
<div id="experience">
    <h1>Experience</h1>
    <div id="experience_content">
        <div id="archbright">
            <img id="arch_logo" src="/static/experience/archbright.png" alt="arch_logo" />
            <h4 class="title">Software Engineer, Data</h4>
            <h5 class="subtitle"></h5>
            <div class=projects>

            </div>
        </div>
        <div id="general_assembly">
            <img id="ga_logo" src="/static/experience/general_assembly.png" alt="ga_logo" />
            <h4 class="title">Web Development Student</h4>
            <h5 class="subtitle"></h5>
        </div>
    </div>
</div>
{% endblock %}