{% extends 'base.html' %}
{% block content %}
    <div id="skills">
        <h1>Technical Skills</h1>
        <div id="skills_content">
            <p>I have worked and quickly adapted to multiple programming languages. For applications, I mostly use 
            Python and JavaScript. For anything data related, I use Python with the assistance of R for machine learning
            and Tableau for visualizations. When working on my hobby projects, I usually stick with Python.</p>
        </div>
        <div id="skills_breakdown_1">
            <div class="languages">
                <h5>Languages</h5>
                <ul>
                    <li>Python</li>
                    <li>JavaScript</li>
                    <li>R</li>
                    <li>SQL</li>
                </ul>
            </div>
            <div class="frameworks">
                <h5>Frameworks & Engines</h5>
                <ul>
                    <li>Flask</li>
                    <li>Django</li>
                    <li>React</li>
                    <li>Node.js</li>
                </ul>
            </div>
        </div>
        <div id="skills_breakdown_2">
            <div class="software">
                <h5>Software</h5>
                <ul>
                    <li>Windows & Mac</li>
                    <li>Anaconda</li>
                    <li>Git</li>
                    <li>Tableau</li>
                    <li>SQL Server</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}