{% extends 'base.html' %}
{% block content %}
    <div id="skills">
        <h1>Technical Skills</h1>
        <div id="skills_content">
            <p>I have worked and quickly adapted to multiple programming languages. For applications, I mostly use 
            Python and JavaScript. For anything data related, I use Python with the assistance of R for machine learning
            and Tableau for visualizations. When working on my hobby projects, I usually stick with Python.</p>
        </div>
        <div></div>
    </div>
{% endblock %}